@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;1,300&family=Graduate&family=Montez&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(2,7,18);
    color: white;
}

*{
    padding-left: 0.1rem;
}